<div class="container">
  <h2 class="center-align">Edit Idea</h2>
  <div class="row">
    <div class="col l6 offset-l3">
      <%= form_for @idea do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :body %>
        <%= f.text_field :body %>
        <%= f.submit class: "btn"%>
      <% end %>
    </div>
  </div>
</div>