<div class="container">
  <h2 class="center-align">Welcome to Idea Box</h2>
  <div class="row">
    <div class="col l6">
      <% @ideas.each do |idea| %>
        <h4><%= idea.title %></h4>
        <p><%= idea.body %></p>
      <% end %>
    </div>
    <div class="col l6">
      <h4>New Idea</h4>
      <%= form_for @idea do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :body %>
        <%= f.text_field :body %>
        <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>